.img_display {
  position: absolute;
  top: 10vh;
  right: 10px;
  z-index: 1000;
}

.img_display .img {
  width: 100px;
  height: 100px;
}

.controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.controls button {
  border: none;
  padding: 10px;
  background-color: transparent;
  color: white;
}

.controls button:hover {
  color: #669bec;
}

.icon {
  width: 20px;
  height: 20px;
}
