.img_group {
  display: grid;
  gap: 10px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, auto);
}

.active {
  color: white;
  box-shadow: 0 0 0 2px #669bec;
  background-color: #669bec;
}

.white_shadow {
  box-shadow: 0 0 0 2px #ffffff;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}

.tile_img {
  background: #669bec;
  display: grid;
  place-items: center;
  font-size: 40px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .img {
    width: 200px;
    height: 200px;
  }

  .tile_img {
    width: 200px;
    height: 200px;
  }
}
